{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>googleAds</title>
</head>
<body>
    <form id="main" action="{% url 'get_data' %}" method="GET">
        <label for="camp_id">Введите id кампании:</label>
        <input type="text" id="camp_id" name="camp_id">
        <label for="domen">Введите домен:</label>
        <input type="text" name="domen">
        <label for="conversion_name">Введите имя конверсии:</label>
        <input type="text" name="conversion_name">
        <label for="api_key">Введите api_key:</label>
        <input type="text" name="api_key">
        <button type="submit">Сгенерировать таблицу</button>
    </form>


    <a href="{{ link }}" target="_blank">{{ link }}</a>

    <label id="header">Список кампаний:</label>
    <form action="{% url 'delete_selected_campaigns' %}" method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>ID кампании</th>
                    <th>Домен</th>
                    <th>Ссылка на таблицу</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                <tr>
                    <td><input type="checkbox" name="ids[]" value="{{ campaign.id }}"></td>
                    <td>{{ campaign.campaign_id }}</td>
                    <td>{{ campaign.domen }}</td>
                    <td><a id="table">{{ campaign.spreadsheet_link }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Удалить выбранные</button>
    </form>
</body>
</html>