<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>googleAds</title>
</head>
<body>
    <form action="{% url 'get_data' %}" method="GET">
        <label for="camp_id">Введите camp_id:</label>
        <input type="text" id="camp_id" name="camp_id">
        <label for="conversion_name">Введите Conversion Name:</label>
        <input type="text" name="conversion_name">
        <button type="submit">Получить</button>
    </form>
    <h1>Ссылка на созданную таблицу:</h1>
    <a href="{{ link }}" target="_blank">{{ link }}</a>
</body>
</html>